@inherits LayoutComponentBase
@using InvoiceApp.Models
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject InvoiceApp.Services.UserService UserService
@inject NavigationManager NavigationManager


<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4" style="color:white">

            @if (currentUser != null)
            {
                <p>@currentUser.UserName</p>
            }
            else
            {
                <p>No Current User</p>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private string? userName;
    private ApplicationUser currentUser;

    protected override async Task OnInitializedAsync()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
        await LoadCurrentUserAsync();        
    }

    private async Task LoadCurrentUserAsync()
    {
        currentUser = await UserService.GetCurrentUserAsync();
    }

    private async void OnLocationChanged(object? sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        if (e.Location.EndsWith("/", StringComparison.OrdinalIgnoreCase))
        {
            await LoadCurrentUserAsync();
        }
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }


    
}
