@page "/expensedetails"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using InvoiceApp.Models
@using InvoiceApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<InvoiceApp.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="expensedetails/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.ExpenseDetails">
    <PropertyColumn Property="expensedetail => expensedetail.Hst" />
    <PropertyColumn Property="expensedetail => expensedetail.Amount" />
    <PropertyColumn Property="expensedetail => expensedetail.ExpenseId" />

    <TemplateColumn Context="expensedetail">
        <a href="@($"expensedetails/edit?id={expensedetail.Id}")">Edit</a> |
        <a href="@($"expensedetails/details?id={expensedetail.Id}")">Details</a> |
        <a href="@($"expensedetails/delete?id={expensedetail.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
