@page "/notes/details"
@using Microsoft.EntityFrameworkCore
@using InvoiceApp.Models
@inject IDbContextFactory<InvoiceApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Note</h2>
    <hr />
    @if (note is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">NoteText</dt>
            <dd class="col-sm-10">@note.NoteText</dd>
            <dt class="col-sm-2">DateAdded</dt>
            <dd class="col-sm-10">@note.DateAdded</dd>
        </dl>
        <div>
            <a href="@($"/notes/edit?id={note.Id}")">Edit</a> |
            <a href="@($"/notes")">Back to List</a>
        </div>
    }
</div>

@code {
    private Note? note;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        note = await context.Notes.FirstOrDefaultAsync(m => m.Id == Id);

        if (note is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
