@page "/notes"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using InvoiceApp.Models
@using InvoiceApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<InvoiceApp.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="notes/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Notes">
    <PropertyColumn Property="note => note.NoteText" />
    <PropertyColumn Property="note => note.DateAdded" />

    <TemplateColumn Context="note">
        <a href="@($"notes/edit?id={note.Id}")">Edit</a> |
        <a href="@($"notes/details?id={note.Id}")">Details</a> |
        <a href="@($"notes/delete?id={note.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
