@using InvoiceApp.Models
@using InvoiceApp.Data
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.Forms
@inject IDbContextFactory<InvoiceApp.Data.ApplicationDbContext> DbFactory
@inject IWebHostEnvironment WebHostEnvironment

<div class="modal fade" id="addExpenseModal" tabindex="-1" aria-labelledby="addExpenseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addExpenseModalLabel">Quick-Add An Expense</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="NewExpense" OnValidSubmit="AddNewExpense">
                    <DataAnnotationsValidator />
                    <ValidationSummary class="text-danger" role="alert" />
                    <div class="row">
                        <div class="mb-3">
                            <label for="totalhst" class="form-label">Vendor:</label>
                            <InputText id="totalhst" @bind-Value="NewExpense.Vendor" class="form-control" />
                            <ValidationMessage For="() => NewExpense.Vendor" class="text-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-1 col-md-6">
                            <label for="totalamount" class="form-label">Total Amount:</label>
                            <InputNumber id="totalamount" @bind-Value="NewExpense.TotalAmount" class="form-control" />
                            <ValidationMessage For="() => NewExpense.TotalAmount" class="text-danger" />
                        </div>
                        <div class="mb-1 col-md-6">
                            <label for="totalhst" class="form-label">Total HST:</label>
                            <InputNumber id="totalhst" @bind-Value="NewExpense.TotalHst" class="form-control" />
                            <ValidationMessage For="() => NewExpense.TotalHst" class="text-danger" />
                        </div>
                    </div>
                    <div>
                        <h5>Select Invoice Image</h5>
                        <label for="fileInput" style="width: 100%; height: 100%; display: block; cursor: pointer">
                            <div class="mb-3 btn btn-primary w-100 " style="height:50px;background-color:orange;color:black;">
                                <InputFile id="fileInput" class="btn btn-primary" OnChange="HandleFileSelected" @ref="inputFileElement" style="display: none;" />
                                <span style="display: block; width: 100%; height: 100%;margin-top:8px">
                                    @if (BrowserFile != null)
                                    {
                                        <div>
                                            <b>Selected File: </b>@BrowserFile.Name<br />
                                        </div>
                                    }
                                    else
                                    {
                                        <div>Tap here to select a file</div>
                                    }
                                </span>
                            </div>
                        </label>
                    </div>
                    <div>
                        <h5>Select Approver</h5>
                        <p>
                            <InputSelect id="employeeSelect" @bind-Value="selectedEmployeeId" class="form-control" style="appearance: auto;-webkit-appearance: auto;-moz-appearance: auto;">
                                <option value="0">-- Select an Employee --</option>
                                @foreach (var employee in filteredEmployees)
                                {
                                    <option value="@employee.Id">@employee.FullName</option>
                                }
                            </InputSelect>
                        </p>
                    </div>
                    <div>
                        <h5>Note</h5>
                        <InputTextArea id="noteText" @bind-Value="NoteText" class="form-control" rows="2" />
                    </div>
                    <hr/>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" @onclick="Cancel">Cancel</button>
                    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Save</button>
                </EditForm>
            </div>
            @*         <InputTextArea id="noteText" @bind-Value="newNote.NoteText" class="form-control" rows="7" /> *@
            @*         <ValidationMessage For="() => newNote.NoteText" class="text-danger" /> *@
            <div class="modal-footer">
                <p>For more complex expenses, choose <u>Submit and Edit</u>. In the Expense Details you can add multiple approvers, split the expense between multiple accounts, and more.</p>
            </div>
        </div>
    </div>
</div>


