@page "/images/edit"
@using Microsoft.EntityFrameworkCore
@using InvoiceApp.Models
@inject IDbContextFactory<InvoiceApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Image</h2>
<hr />
@if (Image is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Image" OnValidSubmit="UpdateImage" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Image.Id" value="@Image.Id" />
                <div class="mb-3">
                    <label for="filename" class="form-label">FileName:</label>
                    <InputText id="filename" @bind-Value="Image.FileName" class="form-control" />
                    <ValidationMessage For="() => Image.FileName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="uploadtime" class="form-label">UploadTime:</label>
                    <InputDate id="uploadtime" @bind-Value="Image.UploadTime" class="form-control" />
                    <ValidationMessage For="() => Image.UploadTime" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/images">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Image? Image { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Image ??= await context.Images.FirstOrDefaultAsync(m => m.Id == Id);

        if (Image is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateImage()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Image!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ImageExists(Image!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/images");
    }

    private bool ImageExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Images.Any(e => e.Id == id);
    }
}
