@page "/images"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using InvoiceApp.Models
@using InvoiceApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<InvoiceApp.Data.ApplicationDbContext> DbFactory

<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <a href="images/create">Create New</a>
</p>

<QuickGrid Class="table" Items="context.Images">
    <PropertyColumn Property="image => image.FileName" />
    <PropertyColumn Property="image => image.UploadTime" />

    <TemplateColumn Context="image">
        <a href="@($"images/edit?id={image.Id}")">Edit</a> |
        <a href="@($"images/details?id={image.Id}")">Details</a> |
        <a href="@($"images/delete?id={image.Id}")">Delete</a>
    </TemplateColumn>
</QuickGrid>

@code {
    private ApplicationDbContext context = default!;

    protected override void OnInitialized()
    {
        context = DbFactory.CreateDbContext();
    }

    public async ValueTask DisposeAsync() => await context.DisposeAsync();
}
