@using InvoiceApp.Models
@using Microsoft.AspNetCore.Components.QuickGrid
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components

<QuickGrid Class="table"  Items="Notes.AsQueryable()">
    <TemplateColumn Title="Note Text" Class="w-50">
        <div style="width: 100%;">
            @((MarkupString)context.NoteText)
        </div>
    </TemplateColumn>
    <PropertyColumn Property="note => note.WrittenBy.FullName" Title="Written By" />
    <PropertyColumn Property="note => note.DateAdded" Title="Date Added" />
</QuickGrid>

@code {
    [Parameter]
    public IEnumerable<Note> Notes { get; set; }
}
