@page "/expenses/edit"
@using Microsoft.EntityFrameworkCore
@using InvoiceApp.Models
@inject IDbContextFactory<InvoiceApp.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Expense</h2>
<hr />
@if (Expense is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Expense" OnValidSubmit="UpdateExpense" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Expense.Id" value="@Expense.Id" />
                <div class="mb-3">
                    <label for="totalamount" class="form-label">TotalAmount:</label>
                    <InputNumber id="totalamount" @bind-Value="Expense.TotalAmount" class="form-control" />
                    <ValidationMessage For="() => Expense.TotalAmount" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="totalhst" class="form-label">TotalHst:</label>
                    <InputNumber id="totalhst" @bind-Value="Expense.TotalHst" class="form-control" />
                    <ValidationMessage For="() => Expense.TotalHst" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/expenses">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Expense? Expense { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Expense ??= await context.Expenses.FirstOrDefaultAsync(m => m.Id == Id);

        if (Expense is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdateExpense()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Expense!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!ExpenseExists(Expense!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/expenses");
    }

    private bool ExpenseExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Expenses.Any(e => e.Id == id);
    }
}
