@page "/expenses"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using InvoiceApp.Models
@using InvoiceApp.Data
@implements IAsyncDisposable
@inject IDbContextFactory<InvoiceApp.Data.ApplicationDbContext> DbFactory
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer


<PageTitle>Index</PageTitle>

<h1>Index</h1>

<p>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addExpenseModal"><i class="bi bi-plus-square"></i>  Add New Expense</button>
</p>
<style>
    .table tr, .table td {
        padding: 2px;
        margin: 2px;
    }
</style>
<table class="table">
    <thead>
    <th>Vendor</th>
    <th>Total Amount</th>
    <th>Total HST</th>
    <th>Action</th>
    </thead>
    @foreach (Expense expense in Expenses)
    {
        <tr>
            <td style="vertical-align: middle;margin:0px">@expense.Vendor</td>
            <td style="vertical-align: middle;">@expense.TotalAmount</td>
            <td style="vertical-align: middle;">@expense.TotalHst</td>
            <td style="vertical-align: middle;">
                <a class="btn btn-primary" href="@($"expenses/edit?id={expense.Id}")"><i class="bi bi-pencil-square"></i> Edit</a> |
                <button type="button" a class="btn btn-danger"
                        data-bs-toggle="modal" data-bs-target="#deleteInvoiceModal"
                        @onclick="()=>OpenDeleteModal(expense.Id)">
                    <i class="bi bi-trash3-fill"></i> Delete
                </button>
            </td>
        </tr>
    }
</table>



<div class="modal " id="deleteInvoiceModal" tabindex="-1" aria-labelledby="deleteInvoiceModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteInvoiceModal">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this expense submission?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" @onclick="ConfirmDeleteExpense">Yes</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="addExpenseModal" tabindex="-1" aria-labelledby="addExpenseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addExpenseModalLabel">Quick-Add An Expense</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="NewExpense" OnValidSubmit="AddNewExpense">
                    <DataAnnotationsValidator />
                    <ValidationSummary class="text-danger" role="alert" />
                    <div class="row">
                        <div class="mb-3">
                            <label for="totalhst" class="form-label">Vendor:</label>
                            <InputText id="totalhst" @bind-Value="NewExpense.Vendor" class="form-control" />
                            <ValidationMessage For="() => NewExpense.Vendor" class="text-danger" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-1 col-md-6">
                            <label for="totalamount" class="form-label">Total Amount:</label>
                            <InputNumber id="totalamount" @bind-Value="NewExpense.TotalAmount" class="form-control" />
                            <ValidationMessage For="() => NewExpense.TotalAmount" class="text-danger" />
                        </div>
                        <div class="mb-1 col-md-6">
                            <label for="totalhst" class="form-label">Total HST:</label>
                            <InputNumber id="totalhst" @bind-Value="NewExpense.TotalHst" class="form-control" />
                            <ValidationMessage For="() => NewExpense.TotalHst" class="text-danger" />
                        </div>
                    </div>
                    <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Save</button>
                </EditForm>
            </div>
            @*         <InputTextArea id="noteText" @bind-Value="newNote.NoteText" class="form-control" rows="7" /> *@
            @*         <ValidationMessage For="() => newNote.NoteText" class="text-danger" /> *@
            <div class="modal-footer">
                <p>For more complex expenses, choose <u>Submit and Edit</u>. In the Expense Details you can add multiple approvers, split the expense between multiple accounts, and more.</p>
            </div>
        </div>
    </div>
</div>

