@page "/expenses"
@using Microsoft.EntityFrameworkCore
@using Microsoft.AspNetCore.Components.QuickGrid
@using InvoiceApp.Models
@using InvoiceApp.Data
@using InvoiceApp.Components.Pages.Shared
@implements IAsyncDisposable
@inject IDbContextFactory<InvoiceApp.Data.ApplicationDbContext> DbFactory
@inject IJSRuntime JSRuntime
@rendermode InteractiveServer

<PageTitle>Index</PageTitle>

<div class="row">
    <div>
        <h3 class="float-start">Invoice List</h3>
    </div>
</div>

<p>
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addExpenseModal" style="height:60px;font-weight:bold">
        <i class="bi bi-plus-square"></i>  Quick-Add An Expense
    </button>
</p>
<style>
    .table tr, .table td {
        padding: 2px;
        margin: 2px;
    }
</style>
<table class="table table-striped">
    <thead>
    <th>Vendor</th>
    <th style="vertical-align: middle;text-align:right;padding-right:20px">Total Amount</th>
    <th style="vertical-align: middle;text-align:right;padding-right:20px">Total HST</th>
    <th width="15%">Action</th>
    </thead>    
    @{
        int i = 0;
    }
    @foreach (Expense expense in Expenses)
    {
        <tr style="border-bottom: 1px solid #ddd;@(i % 2 != 0 ? "background-color:lightgray" : "")">
            <td style="vertical-align: middle;margin:0px">@expense.Vendor</td>
            <td style="vertical-align: middle;text-align:right;padding-right:20px">@expense.TotalAmount.ToString("N2")</td>
            <td style="vertical-align: middle;text-align:right;padding-right:20px">@expense.TotalHst.ToString("N2")</td>
            <td style="vertical-align: middle;white-space: nowrap;">
                <a class="btn btn-primary" href="@($"expenses/edit?id={expense.Id}")" 
                        style="background-color: #0d6efd; border-color: #0d6efd; color: white;">
                        <i class="bi bi-pencil-square"></i> Edit</a> |
                <button type="button" a class="btn btn-danger"
                        data-bs-toggle="modal" data-bs-target="#deleteInvoiceModal"
                        @onclick="()=>OpenDeleteModal(expense.Id)" 
                        style="background-color: #dc3545 !important; border-color: #dc3545 !important;color: white;">
                    <i class="bi bi-trash3-fill"></i> Delete
                </button>
            </td>
        </tr>
        i++;
    }
</table>



<div class="modal " id="deleteInvoiceModal" tabindex="-1" aria-labelledby="deleteInvoiceModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteInvoiceModal">Confirm Deletion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this expense submission?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                <button type="button" class="btn btn-danger" @onclick="ConfirmDeleteExpense">Yes</button>
            </div>
        </div>
    </div>
</div>


<QuickAddExpense OnClose="LoadExpensesList" />

